apiVersion: v1
kind: Service
metadata:
  name: hello-world-svc
  namespace: akulaku-sre
  labels:
    app: hello-world
spec:
  type: NodePort
  selector:
    app: hello-world
  ports:
  - port: 80
    targetPort: 8080
    nodePort: 30080
    protocol: TCP
    name: http
